#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/clock/mspm0_clock.h>

/ {
	aliases {
		light-sensor = &grove_light;
	};

	grove_light: grove-light {
		compatible = "seeed,grove-light";
		io-channels = <&adc0 7>;
	};
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&analog_pa22 &analog_pa26 &analog_pa27>;
	pinctrl-names = "default";
	clocks = <&ckm MSPM0_CLOCK_MCLK>;
	ti,clk-range = <7>;
	ti,clk-divider = <2>;
	max-result-reg = <12>;
};
